In [1]:
import pandas as pd
import os

In [2]:
classes_data= pd.read_csv('csv_folder/class-descriptions-boxable.csv',header=None)
classes_data.head()

             0           1
0    /m/011k07    Tortoise
1  /m/011q46kg   Container
2    /m/012074      Magpie
3    /m/0120dh  Sea turtle
4    /m/01226z    Football

In [3]:
classes= ['Coat','Jeans','Shirt','Skirt','Miniskirt','Shorts', 'Watch', 'Hat','Dress']

In [4]:
class_string=[]
for i in classes:
    req_data= classes_data.loc[classes_data[1] == i]
    string= req_data.iloc[0][0]
    print(string)
    class_string.append(string)
print(class_string)

/m/01xygc
/m/0fly7
/m/01n4qj
/m/02wv6h6
/m/01cmb2
/m/01bfm9
/m/0gjkl
/m/02dl1y
/m/01d40f
['/m/01xygc', '/m/0fly7', '/m/01n4qj', '/m/02wv6h6', '/m/01cmb2', '/m/01bfm9', '/m/0gjkl', '/m/02dl1y', '/m/01d40f']

In [5]:
annotation_data=pd.read_csv('csv_folder/train-annotations-bbox.csv',usecols=['ImageID','LabelName','XMin','XMax','YMin','YMax'])
annotation_data.head()

            ImageID  LabelName      XMin      XMax      YMin      YMax
0  000002b66c9c498e  /m/01g317  0.012500  0.195312  0.148438  0.587500
1  000002b66c9c498e  /m/01g317  0.025000  0.276563  0.714063  0.948438
2  000002b66c9c498e  /m/01g317  0.151562  0.310937  0.198437  0.590625
3  000002b66c9c498e  /m/01g317  0.256250  0.429688  0.651563  0.925000
4  000002b66c9c498e  /m/01g317  0.257812  0.346875  0.235938  0.385938

In [6]:
#get only data with matching classes
filtered_class_data=annotation_data.loc[annotation_data['LabelName'].isin(class_string)].copy()
filtered_class_data.head()

              ImageID  LabelName      XMin   XMax      YMin      YMax
40   000004f4400f6ec5  /m/01n4qj  0.548125  0.740  0.413632  0.996265
135  00002b368e91b947  /m/01cmb2  0.095000  0.356  0.683121  0.998408
136  00002b368e91b947  /m/01cmb2  0.446000  0.658  0.622611  0.921975
137  00002b368e91b947  /m/01cmb2  0.454000  0.505  0.449045  0.592357
138  00002b368e91b947  /m/01cmb2  0.662000  0.782  0.515924  0.770701

In [7]:
filtered_class_data['ClassNumber']=''
filtered_class_data['Center_X']=''
filtered_class_data['Center_Y']=''
filtered_class_data['Width']=''
filtered_class_data['Height']=''

In [8]:
for i in range(len(class_string)):
    filtered_class_data.loc[filtered_class_data['LabelName']==class_string[i],'ClassNumber']=i

In [9]:
filtered_class_data['Center_X']=(filtered_class_data['XMax']+filtered_class_data['XMin'])/2
filtered_class_data['Center_Y']=(filtered_class_data['YMax']+filtered_class_data['YMin'])/2

In [10]:
filtered_class_data['Width']=(filtered_class_data['XMax']-filtered_class_data['XMin'])
filtered_class_data['Height']=(filtered_class_data['YMax']-filtered_class_data['YMin'])

In [11]:
Yolo_values=filtered_class_data.loc[:,['ImageID','ClassNumber','Center_X','Center_Y','Width','Height']].copy()

In [12]:
Yolo_values.head()

              ImageID ClassNumber  Center_X  Center_Y     Width    Height
40   000004f4400f6ec5           2  0.644062  0.704948  0.191875  0.582633
135  00002b368e91b947           4  0.225500  0.840764  0.261000  0.315287
136  00002b368e91b947           4  0.552000  0.772293  0.212000  0.299364
137  00002b368e91b947           4  0.479500  0.520701  0.051000  0.143312
138  00002b368e91b947           4  0.722000  0.643312  0.120000  0.254777

In [15]:
image_path='Dataset/train/All_dataset/'
#os.mkdir(image_path)

In [16]:
for current_dir,dirs,files in os.walk('.'):
    for f in files:
        if f.endswith('.jpg'):
            image_title=f[:-4]
            Yolo_file=Yolo_values.loc[Yolo_values['ImageID']==image_title]
            df=Yolo_file.loc[:,['ClassNumber','Center_X','Center_Y','Width','Height']].copy()
            save_path= image_path + '/'+image_title+'.txt'
            #print(df.values)
            df.to_csv(save_path,header=False,index=False,sep=' ')

with open('readme.txt', 'x') as f:
    f.write( )
    Yolo_values.iloc[40].to_csv("readme.txt",header=False,index=False,sep=' ')
    f.close()

In [ ]:
Yolo_values.iloc[40].to_csv("readme.txt",header=False,index=False,sep=' ')